h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
}
/* navigation bar */
.navbar{
  background-color:#151515;
}
.navbar-brand{
  font-family: 'Montserrat', sans-serif;
padding: 2% 0% 2% 10%;
}
.navbar-collapse{
  padding: 2% 10% 2% 0%;
}
.carousel-item img{
  width: 1300px;
  height: 500px;

}

/* slides */
.slides{
  padding: 0% 0% 0% 0%;
}
.quote{
  background-color: inherit;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  padding: 10% 10% 10% 10%;
}


/* services */
.services{
  padding: 5% 0% 0% 0%;
  background-color:#fff;
}
.head{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-decoration-color: #fff;
}
.card-title{
  text-align: center;
}
.service-block{
  margin:3% 10% 0% 10%;
}
.first-row {
  font-family: 'Montserrat', sans-serif;
}
.second-row{

  font-family: 'Montserrat', sans-serif;
}
.service{
  margin-top: 2%;
}

/* about us */
.about-us{
  margin: 5% 0% 0% 0%;
  padding-top: 5%;
  background-color:#151515;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
p{
  padding: 0% 7% 5% 7%;
}


/* contact-us */
.white-section{
  text-align:center;

}
